{% extends "layout.html.twig" %}

{% block content %}
    <h2>{{nombre_libro}}</h2>

      {% if nombre_libro %}
          <form class="" action = "{{ url('tareas_nuevo') }}" method="post">
            <input autofocus type="text" name="nombre" class="form-control" placeholder="Escriba una tarea y presione la tecla Enter">
          </form>

      {% else %}
          <p>Para comenzar a trabajar debe seleccionar un libro de la lista "Libros" arriba de este texto.
            Si aun no ha creado algun libro, puede hacer click <a href="{{ url('libros_inicio') }}">aquí</a> para crearlo</p>
      {% endif %}


     <hr>

    <div class="panel panel-default">
        <div class="panel-body">

          {% for tarea in tareas %}
            <div class="tarea">
                <a href="{{ url('tareas_completar', {'id':  tarea.id  }) }}"><i class="fa fa-check" aria-hidden="true"></i></a>
                {{ tarea.nombre }}
                <span class="pull-right">
                    <a href="{{ url('tareas_borrar', {'id':  tarea.id  }) }}" ><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </span>
            </div>
          {% endfor %}


        </div>
    </div>
{% endblock %}
